/*파일 안에서만 사용*/
.wrapper {
  background-color: bisque;
  color: blueviolet;
}

.inverted {
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
}

/*모든 곳에서 사용*/
:global .something {
  font-weight: 900;
}
