/*파일 안에서만 사용*/
.wrapper {
  background-color: bisque;
  color: blueviolet;
}

.inverted {
  color: black;
  background: white;
  border: 1px solid black;
}

/*모든 곳에서 사용*/
:global .something {
  color: black;
  font-weight: 700;
}
